page-simplesubstitution {

}

.wrap-text {
 min-height: inherit;
}

.chart {
padding-bottom: 15px}

ion-input {
  height : 120%;
}

ion-fab {
  align-items: flex-end;
  margin-top: 50px;
}

.fab-fixed {
  position: absolute;
  bottom: 295px;
  right: 20px;
}
